.alarm-content-wrap{
    width: 50vw;
    height: 100%;
    margin-left: 53%;
    /* border-left: 1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(255,255,255,0.3); */
}

.alarm-top{
    display: flex;
    /* border-bottom: solid 1px gray; */
    font-weight: bold;
}

.alarm-top span{
    margin: 20px 20px 20px 350px;
    color: white;
    font-size: x-large;
}

.back-icon{
    filter: invert(100%);
    margin: 20px 20px 20px 40px;
    width: 30px; 
    height: 30px;
    cursor: pointer;
}

.profile-icon {
    display: flex;
    width: 950px;
    border-bottom: solid 1px gray;
    padding: 20px 10px 20px 20px;
    color: whitesmoke;
}

.profile-icon img{
    width: 80px; 
    height: 80px;
    border-radius: 100%;
    cursor: pointer;
}

.alarm-user a{
    text-decoration: none;
    cursor: pointer;
}

.profile-icon .alarm-user{
    padding-left: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.alarm-content{
    display: flex;
    padding: 10px 10px 10px 20px;
    font-size: 15px;
}

.alarm-follow-button{
    margin: 0px 0px 0px 550px;
    padding: 4px 16px 4px 16px;
    height: 25px;
    text-align: center;
    border-radius: 14px;
    background-color: #0095f6;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.alarm-follow-button:hover{
    background-color: transparent;
    border: 1px solid whitesmoke;
}

/* alert-tool Modal */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

.modal.show {
    display: block;
}

.alarm-all-btn a{
    padding: 5px 10px 10px 200px !important;
    padding-bottom: 10px;
    color: gray !important;
    font-size: 13px;
    cursor: pointer;
}

.alarm-all-btn a:hover{
    color: rgb(73, 73, 73) !important;;
}

.modal-profile-icon{
    display: flex;
    color: whitesmoke !important;
    cursor: pointer;
}

.modal-profile-icon img{
    width: 50px; 
    height: 50px;
    cursor: pointer;
}

.modal-alarm-user{
    color: white !important;
}

.modal-content {
    margin-left: 98%;
    margin-top: 5%;
    border-radius: 10px !important;
    background-color:transparent; 
    width: 26% !important;
}